{% extends "MYMoneyBundle:Admin:layout.html.twig" %}

{% block title_admin %}
	<a href="#">Catégories</a>
{% endblock %}

{% block body_admin %}
	<div class="row">
		<div class="[ col-xs-12 ]">
			<div class="list-group">
				<a href="#" class="list-group-item">Liste des Catégories</a>
			</div>
		</div>
	</div>
{% endblock %}